body {
  font-family: 'Lato', sans-serif;
  background-color: #F5F5F5;
}

.text01 {
  font-weight: bold;
  font-style: "Times New Roman";
  letter-spacing: 8px;
}

.text02 {
  font-family: sans-serif;
  letter-spacing: 8px;
}

.text {
  font-family: sans-serif;
}

img {
  max-width: 100%;
  margin-bottom: 30px;
}

.title {
  text-align: center;
  margin-bottom:  40px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  padding: 16px 0;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
}

h1 {
  margin: 0;
}

li {
  padding: 16px;
}

li a {
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  
  h1 {
    padding: 8px 0;
  }

  .header_name {
    margin: 0 auto;
  }

  .header_menu {
    width: 100%;
  }

  ul {
    padding: 0;
  }

  li {
    width: 50%;
  }
}

/* about */

.about__area {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;
}

.about__area-img {
  width: 40%;
}

.about__area-img img{
  border-radius: 20px;
}

.about__area-description {
  width: 50%;
  text-align: center;
  padding-left: 80px;
}

.about__area-description-icon {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

.text-name {
  text-align: right;
  padding-right: 30px;
  padding-top: 10px;
  font-size: 20px;
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}

.fa-twitter-square {
  color: #1DA1F2;
  font-size: 50px;
}

.fa-twitter-square:hover {
  opacity: .8;
}

.fa-instagram {
  color: #99CCFF;
  font-size: 50px;
}

.fa-instagram:hover {
  opacity: .8;
}

.fa-blog {
  color: #C2EEFF;
  font-size: 50px;
}

.fa-blog:hover {
  opacity: .8;
}

 .name01 {
   font-weight: bold;
   text-align: center;
 }

.fa-line {
  color: #00B900;
  font-size: 50px;
}

.fa-line:hover {
  opacity: .8;
}

@media screen and (max-width: 768px) {
  .about__area-img {
    width: 100%;
  }

  .about__area-description {
    width: 100%;
    padding-right: 70px;
  }

  .about__area-description p {
    font-size: 18px;
  }
  
}

/* works */

#works h3 {
  text-align: center;
  margin-bottom: 40px;
}

.works__are-img{
  text-align: center;
}

.contact_hp {
  text-align: center;
  padding-top: 30px;
}


.btn-gradient-radius {
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #fff;
  background-color: #99CCFF;
  transition: .4s;
}

.btn-gradient-radius:hover {
  color: #fff;
  background-image: linear-gradient(#6795fd 0%, #67ceff 70%);
}

.text-center {
  padding-top: 32px;
}

/* /* .text_01 {
  text-align: center;
  font-family: sans-serif;
} */

.text_01 {
  font-family: sans-serif;
}

/* .text_03 {
  text-align: center;
}
.text_04 {
  text-align: center;
}
.text_05 {
  text-align: center;
}
.text_06 {
  text-align: center;
}
.text_07 {
  text-align: center;
}
.text_08 {
  text-align: center;
}

.text09 {
  text-align: center;
}

.text10 {
  text-align: center;
} */
.nmr_consept {
  font-family: sans-serif;
} */


@media screen and (max-width: 768px) {
  .nmr_consept {
    text-align: center;
  }

  .work_name01 {
    padding-top: 30px;
  }

  .work_name02 {
    padding-top: 30px;
  }

  .text-center {
    padding-top: 30px;
  }

  .service_product .product_name {
    margin-top: 25px;
    margin-bottom: 30px;
  }
}



/* 
.contact_hp a {
  text-decoration: none;
  border: solid 1px;
  color: black;
  font-weight: bold;
  border-radius: 30%;
} */

/* service */

#service .title {
  margin-top: 70px;
}

.bland_name {
  text-align: center;
}

.service_img img {
  width: 100%;
  height: 50%;
}

.service_description h3 {
  text-align: center;
}

.consept_name {
  margin-top: 25px;
  margin-bottom: 30px;
}

.picture {
  display: flex;
  margin-top: 30px;
}

.picture .pic01 img{
  margin-right: 30px;
  width: 400px;
  height: 200px;
}

.picture .pic02 img{
  margin-right: 30px;
  width: 400px;
  height: 200px;
}

.picture .pic03 img{
  margin-right: 30px;
  width: 400px;
  height: 200px;
}

.picture .pic04 img{
  margin: 0;
  width: 400px;
  height: 200px;
}

.picture .pic05 img{
  margin: 0;
  width: 400px;
  height: 200px;
}

.product_name {
  margin-top: 25px;
  text-align: center;
}

ul li {
  display: flex;
  align-items: center;
}

ul li:nth-child(even) {
  flex-direction: row-reverse;
}

ul li:nth-child(odd) .product_text {
  padding-left: 70px;
}
 
ul li:nth-child(even) .product_text {
  padding-right: 70px;
}

.product_name {
  margin-top: 40px;
  margin-bottom: 40px;
}

.service_product .product_pic {
  width: 100%;
}

.service_product .product_des {
  text-align: center;
}


.desc01 {
  font-size: 30px;
  font-family: serif;
}

.product_des {
  margin-top: 25px;
  margin-bottom: 30px;
}

.service_think {
  text-align: center;
}

.desc01 {
  text-align: center;
}

.service_think02 {
  text-align: center;
}

.text10 {
  text-align: center;
  font-family: sans-serif;
}

.text11 {
  text-align: center;
  font-family: sans-serif;
}

.product_text01 {
  text-align: center;
  padding-left: 20px;
}

.product_text02 {
  text-align: center;
  padding-right: 20px;
}

.product_text03 {
  text-align: center;
  padding-left: 20px;
}

.product_text04 {
  text-align: center;
  padding-right: 20px;
}

@media (max-width:768px) {
  ul li {
    display: block;
    margin: 0 auto;
  }

  #service .title {
    margin-top: 30px;
  }

  .product_text01 {
    font-size: 15px;
    padding: 0;
  }

  .product_text02 {
    font-size: 15px;
    padding: 0;
  }

  .product_text03 {
    font-size: 15px;
    padding: 0;
  }

  .product_text04 {
    font-size: 15px;
    padding: 0;
  }


}

/* conact */


#contact .title {
  padding-top: 20px;
}
.form {
  width: 400px;
  margin: 0 auto 40px;
}

label {
  display: block;
}

input {
  display: block;
  width: 100%;
  border: 1px solid #d8d8d8;
}

textarea {
  display: block;
  width: 100%;
  border: 1px solid #d8d8d8;
}

.form-content {
  margin-bottom: 16px;
}

button {
  background-color: #535252;
  color: white;
  width: 250px;
  padding: 16px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .form {
    width: 100%;
  } 
}


footer {
  text-align: center;
}








/* .product_pic01 img{
  width: 500px;
  height: 400px;
}

.product_pic02 img{
  width: 500px;
  height: 400px;
}

.product_pic03 img{
  width: 500px;
  height: 400px;
}

.product_text01 {
  margin-top: 150px;
}

.product_text02 {
  margin-top: 150px;
}

.product_text03 {
  margin-top: 150px;
}

.product_pic02 img {
  margin-left: 120px;
}

ul {
  max-width: 100%;
} */